version: "3"
services:
  drf_station_db:
    build:
      context: .
    env_file:
      - .env
    ports:
      - "8001:8000"
    command: >
      sh -c "sleep 5 && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db

  db:
    image: postgres:16.10-alpine3.22
    restart: always
    ports:
      - "5435:5432"
    env_file:
      - .env